body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-link {
    color: white;
}

.warna {
    background-color: red;
    height: 20px;
}

.logo {
    width: 100px;
}

.header {
    color: white;
    background-color: red;
    height: 70px;
}

.toggler {
    background-color: transparent;
}

.sliderimage {
    margin-top: 50px;
}

.slider {
    background-color: rgb(186, 3, 2);
    height: 430px;
    margin-top: -50px;
}

.slide {
    padding-top: 30px;
}

.notive {
    margin-top: 30px;
}

.danger {
    background-color: rgb(186, 3, 2) !important;
}

.slide {
    margin-bottom: 20px;
}

@media only screen and (max-width:480px) {
    .slider {
        background-color: rgb(186, 3, 2);
        height: 90px;
    }
}

.biru {
    background-color: rgb(5, 16, 51);
}